".text.html.spacebars":
  "if":
    "prefix": "if"
    "body": "{{#if ${1:condition}}}\n\t$0\n{{/if}}"
  "if - else":
    "prefix": "ife"
    "body": "{{#if ${1:condition}}}\n\t$0\n{{else}}\n\t$1\n{{/if}}"
  "unless":
    "prefix": "un"
    "body": "{{#unless ${1:condition}}}\n\t$0\n{{/unless}}"
  "unless - else":
    "prefix": "une"
    "body": "{{#unless ${1:condition}}}\n\t$0\n{{else}}\n\t$1\n{{/unless}}"
  "with":
    "prefix": "wt"
    "body": "{{#with ${1:item}}}\n\t$0\n{{/with}}"
  "with - else":
    "prefix": "wte"
    "body": "{{#with ${1:item}}}\n\t$0\n{{else}}\n\t$1\n{{/with}}"
  "each":
    "prefix": "ea"
    "body": "{{#each ${1:items}}}\n\t$0\n{{/each}}"
  "partial":
    "prefix": "pa"
    "body": "{{> ${1:template} }}"


'.html':
  'Blaze Template':
    'prefix': 'template'
    'body': '<template name="${1}">\n\t${2}\n</template>'
  'Blaze #each':
    'prefix': '#each'
    'body': '
      {{#each ${1:collections}}}\n\t${2}\n{{/each}}
    '
  'Blaze #if':
    'prefix': '#if'
    'body': '
      {{#if ${1:statement}}}\n\t${2}\n{{/if}}
    '
  'Blaze #if else':
    'prefix': '#ife'
    'body': '{{#if ${1:statement}}}\n\t${2}\n{{else}}\n\t${3}\n{{/if}}
    '
